<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.demo.enterprise.mapper.EnterpriseMapper">
    <insert id="insertEnterprise" parameterType="pers.demo.enterprise.beans.EnterpriseListBean">
insert into base_enterprise_test values
        <foreach collection="erDataList" item="item">
                                        ()</foreach>
    </insert>
</mapper>